bin
lib
include
db
dbd
data
*_BAK.adl
documentation.html
envPaths*
cdCommands
dllPath.bat
auto_settings.sav*
O.*/
*~
*.swp
*.dll
.project
.cproject
*.idea
CMakeLists.txt
cmake-build-debug
iocs/example